/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #ffffff;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #302718;
}

/* Logo styling */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    font-size: 1.5em;
    font-weight: bold;
}

/* Navigation menu */
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #302718;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}



/* Main content */
main {
    padding: 20px;
}

h2 {
    color: #302718;
    margin-bottom: 10px;
}

p {
    color: #302718;
    font-size: 1.1em;
    margin-top: 10px;
}

/* Footer styling */
footer {
    background-color: #e2c1ff;
    color: #302718;
    text-align: center;
    padding: 10px 0;
}

/* navigation */
.topnav {
  background-color: #e2c1ff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #302718;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #7374ff;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #7374ff;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Responsive styling */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #0056b3;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 20px;
    }

    nav ul.active {
        display: flex;
    }

    .menu-icon {
        display: block;
        color: #fff;
    }
}
